.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
  height: 700px;
  background-color: #191919;
}
/*
h1{
  color:red;
}
   */

.linhaConteudo{
  display: inline-block;
}

.pagina_central{
  background-color: #191919 ;
  margin-bottom: -20px;
}


.conteudo{
  margin-bottom: -60px;
}


.imagem_banner{
  padding-top:10px;
}


.icones-sociais{
  position: relative;
  bottom: 0;
  right: 0;
}

.icones-sociais li {
  display: inline-block;
}

.icones-sociais a {
  width: 64px;
  height: 64px;
  display: block;
  text-indent: -99999px;
}

.facebook {
  background-image: url();
}

.github {
  background-image: url();
}

.twitter {
   background-image: url();
}

.linkedin {
  background-image: url();
}


.menu-âncora{
  margin-top: 50px;
}

.input-field{
  margin-top:60px;
}
.input-field label {
  color:#FFFFFF;
}

.span-input-label-pesquisa{
  color: #FFFFFF;
  font-family: 'Righteous', cursive;
}

.botao-buscar{
  width: 100%;
}

.carousel{
  width: 100%;
  height: 500px;
  /* left:-12px; */
  margin-top: 10px;
}

.menu_ancora{
  background-color: #414141;
  height: 1100PX;
  margin-top:10px;

  
}

.footer{
  margin-top: 80px;
}

  .imagem-logo{
    height:50px;
    padding-top:15px;
    margin-right: 5px;
  }

  /* .busca{
    background-color: #191919;
  } */

  .texto-sidemenu{
    color: #FFFFFF;
    font-family: 'Righteous', cursive;
    size: 10px;  
  }
  
  h5{
    color:#f5f5f5;
}
  h4{
  color:#f5f5f5;
}
  h3{
  color:#f5f5f5;
}
  h1{
  color:#f5f5f5;
  font-family: 'Righteous', cursive;
}
  hr{
    border-bottom: 3px solid #FFFFFF;
  }
  p{
  color:#f5f5f5;
  text-align: justify;
  font-size: 17px;
  }
  .conteudo-lateral{
    height: 75px;
    background-color: white;
    border-radius: 5px;
    margin-top:10px;
    
  }

   .fixed{
     position: relative;
     width: 100%;
     bottom: 0; 
   }

   .imagem-conteudo-unico{
     height: 75%;
     width: 75%;
     
   }

   a{
     color: #191919;
   }

   p{
     margin-left: 10px;
     margin-right:10px;
   }

   .imagem-cartao-pequena{
     height: 100$;

   }